.header{
  display: block;
  position: relative;
  float: left;
  width: 100%;
  &__top{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    border-bottom: 1px solid #e3e3e3;
  }
  &__top-links{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 13px;
    @include box-sizing(border-box);
    @include breakpoint(max-width 992px){
      padding: 15px 15px;
      @include box-sizing(border-box);
    }
    &--region{
      display: block;
      position: relative;
      float: left;
      max-width: 290px;
      color: #0e0e0e;
      font-size: 13px;
      font-weight: 300;
      @include breakpoint(max-width 992px){
        margin-left: 15px;
        @include box-sizing(border-box);
      }
      > span{
        display: block;
        position: relative;
        float: left;
      }
      > span:before{
        display: block;
        position: absolute;
        content: '';
        width: 14px;
        height: 16px;
        overflow: hidden;
        top: 0;
        left: -20px;
        background-image: url('../i/icons/map-marker-icon.png');
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
      }
      > a{
        display: block;
        position: relative;
        float: left;
        max-width: 100px;
        margin-left: 2px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: #0e0e0e;
        font-size: 13px;
        font-weight: 300;
      }
      > a:hover{
        color: #0e0e0e;
        text-decoration: underline;
        text-decoration-style: dotted;
      }
    }
    &--cabinet{
      display: block;
      position: relative;
      float: right;
      max-width: 144px;
      @include breakpoint(max-width 992px){
        position: absolute;
        top: 15px;
        right: 0;
      }
    }
    &--enter{
      display: block;
      position: relative;
      float: left;
      color: #0e0e0e;
      font-size: 13px;
      font-weight: 300;
      text-decoration: underline;
      text-decoration-style: dotted;
      &:hover{
        color: #0e0e0e;
        text-decoration: none;
      }
      &:first-of-type:before{
        display: block;
        position: absolute;
        content: '';
        width: 17px;
        height: 18px;
        overflow: hidden;
        top: 0;
        left: -26px;
        background-image: url('../i/icons/user-icon.png');
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
      }
      &:nth-of-type(2){
        margin-left: 15px;
        &:before{
          display: block;
          position: absolute;
          content: '/';
          color: #0e0e0e;
          font-size: 16px;
          font-weight: 300;
          top: -1px;
          left: -10px;
        }
      }
    }
    &--tools{
      @include display-flex(flex);
      @include flex-wrap(wrap);
      @include flex-direction(row);
      @include justify-content(flex-end);
      position: relative;
      float: left;
      width: calc(100% - 270px);
      padding-right: 109px;
      @include box-sizing(border-box);
      @include breakpoint(max-width 992px){
        width: 100%;
        @include justify-content(center);
        padding: 15px 15px;
      }
      @include breakpoint(max-width 660px){
        @include flex-direction(column);
      }
      > .element{
        display: block;
        position: relative;
        float: left;
        color: #0e0e0e;
        font-size: 13px;
        font-weight: 300;
        line-height: 18px;
        padding-left: 18px;
        padding-right: 18px;
        @include box-sizing(border-box);
        @include breakpoint(max-width 660px){
          margin: 5px 0;
        }
        &:after{
          display: block;
          position: absolute;
          content: '';
          width: 1px;
          height: 14px;
          background-color: #e3e3e3;
          top: 4px;
          right: 0;
        }
        &:last-of-type:after{
          display: none;
        }
        .icon{
          display: block;
          position: relative;
          float: left;
          width: 20px;
          height: 22px;
          margin-right: 9px;
          margin-top: -2px;
          overflow: hidden;
          img{
            object-fit: contain;
          }
        }
      }
    }
  }
}