<footer class="footer">

    <div class="container">

        <div class="footer__nav">

            <ul class="footer__list">
                <li class="footer__title">Покупателям</li>
                <li class="footer__subtitle"><a href="#">Покупки на Safe-Shopping</a></li>
                <li class="footer__subtitle"><a href="#">Доставка и оплата товаров</a></li>
                <li class="footer__subtitle"><a href="#">Пользовательское соглашение</a></li>
                <li class="footer__subtitle"><a href="#">Юридическим лицам</a></li>
                <li class="footer__subtitle"><a href="#">Рассылка</a></li>
            </ul>

            <ul class="footer__list">
                <li class="footer__title">Магазинам</li>
                <li class="footer__subtitle"><a href="#">Истории успеха</a></li>
                <li class="footer__subtitle"><a href="#">Торговля на Safe-Shopping</a></li>
                <li class="footer__subtitle"><a href="#">Все еще думаете?</a></li>
                <li class="footer__subtitle"><a href="#">Добавить магазин</a></li>
                <li class="footer__subtitle"><a href="#">Договор оферты</a></li>
            </ul>

            <ul class="footer__list">
                <li class="footer__title">О компании</li>
                <li class="footer__subtitle"><a href="#">Сотрудничество</a></li>
                <li class="footer__subtitle"><a href="#">Отзывы</a></li>
                <li class="footer__subtitle"><a href="#">Пресс-центр</a></li>
                <li class="footer__subtitle"><a href="#">Контактные данные</a></li>
            </ul>

        </div>

        <div class="footer__socials">

            <h3 class="footer__title">Подружитесь с нами:</h3>

            <p class="footer__subtitle">Мы ежедневно публикуем скидки и промокоды</p>

            <div class="footer__socials--links">

                <a href="#">
                    <img src="../static/i/icons/vk-icon.png" alt="">
                </a>
                <a href="#">
                    <img src="../static/i/icons/fb-icon.png" alt="">
                </a>
                <a href="#">
                    <img src="../static/i/icons/odn-icon.png" alt="">
                </a>
                <a href="#">
                    <img src="../static/i/icons/tw-icon.png" alt="">
                </a>
                <a href="#">
                    <img src="../static/i/icons/gplus-icon.png" alt="">
                </a>
                <a href="#">
                    <img src="../static/i/icons/inst-icon.png" alt="">
                </a>

            </div>

        </div>

    </div>

    <div class="footer__bottom">

        <div class="container">

            <p>© Safe-Shopping - Все права защищены.</p>

            <div class="footer__pay-sys">
                <span><img src="../static/i/icons/paypal-icon.png" alt=""></span>
                <span><img src="../static/i/icons/visa-icon.png" alt=""></span>
                <span><img src="../static/i/icons/mastercard-icon.png" alt=""></span>
            </div>

        </div>

    </div>

</footer>