<header class="header">

    <div class="header__top">

        <div class="container">


            <div class="header__top-links">

                <div class="header__top-links--region">
                    <span>Ваш регион:</span>
                    <a href="#">Москва</a>
                </div>

                <div class="header__top-links--tools">

                    <a href="#" class="element">
                        <span class="icon"><img src="../static/i/icons/coin-icon.png" alt=""></span>
                        Монетки (<span class="value">57 026</span>)</a>
                    <a href="#" class="element">
                        <span class="icon"><img src="../static/i/icons/wishlist-icon.png" alt=""></span>
                        Избранное (<span class="value">9</span>)</a>
                    <a href="#" class="element">
                        <span class="icon"><img src="../static/i/icons/scales-icon.png" alt=""></span>
                        Сравнение (<span class="value">1</span>)</a>
                    <a href="#" class="element">
                        <span class="icon"><img src="../static/i/icons/basket-icon.png" alt=""></span>
                        <span class="value">12 350</span>руб.</a>

                </div>

                <div class="header__top-links--cabinet">

                    <a href="#" class="header__top-links--enter">Вход</a>
                    <a href="#" class="header__top-links--enter">Регистрация</a>

                </div>

            </div>
        </div>

    </div>

    <!-- @@include search.html -->

    <div class="header__navigation">

        <div class="container">

            <a id="mobile-menu" href="#" class="header__trigger">
                <span class=""></span>
            </a>

            <ul class="header__nav">
                <li><a href="#">
                    <span>
                        <img src="../static/i/icons/toolth-icon.png" alt="">
                    </span>
                    Все для ремонта</a></li>
                <li><a href="#">
                     <span>
                        <img src="../static/i/icons/bobber-icon.png" alt="">
                    </span>
                    Увлечения и хобби</a></li>
                <li><a href="#">
                    <span>
                        <img src="../static/i/icons/shild-icon.png" alt="">
                    </span>
                    Детские товары</a></li>
                <li><a href="#">
                    <span>
                        <img src="../static/i/icons/bicycle-icon.png" alt="">
                    </span>
                    Спорт и отдых</a></li>
                <li><a href="#">
                    <span>
                        <img src="../static/i/icons/hairdryer-icon.png" alt="">
                    </span>
                    Красота и здоровье</a></li>
                <li><a href="#">
                    <span>
                        <img src="../static/i/icons/file-icon.png" alt="">
                    </span>
                    Софт и программы</a></li>
                <li><a href="#">
                    <span>
                        <img src="../static/i/icons/house-icon.png" alt="">
                    </span>
                    Все для дачи</a></li>
                <li><a href="#">
                    <span>
                        <img src="../static/i/icons/party-icon.png" alt="">
                    </span>
                    Праздники и торжества</a></li>
                <li><a href="#">
                    <span>
                        <img src="../static/i/icons/dishes-icon.png" alt="">
                    </span>
                    Еда и напитки</a></li>
                <li><a href="#">
                    <span>
                        <img src="../static/i/icons/slippers-icon.png" alt="">
                    </span>
                    Обувь и сумки</a></li>
                <li><a href="#">
                    <span>
                        <img src="../static/i/icons/dots-icon.png" alt="">
                    </span>
                    Другие категории</a></li>
                <li><a href="#">
                    <span>
                        <img src="../static/i/icons/percent-icon.png" alt="">
                    </span>
                    Скидки и акции</a></li>
            </ul>

        </div>

    </div>

</header>
