<section class="product">

    <div class="container">

        <ul class="breadcrumbs">
            <li><a href="#">Носки</a></li>
            <li><a href="#">Трусы</a></li>
            <li><a href="#">Перчатки</a></li>
            <li><a href="#">Шарфы</a></li>
            <li><a href="#">Все товары</a></li>
        </ul>

        <form class="product__search" action="">
            <input class="product__search--field" type="text" placeholder="Поиск в этом магазине">
            <button class="product__search--submit"></button>
        </form>

        <div class="product__views">

            <div class="product__views--sliders">

                <div class="product__views--slider">

                    <div class="product__views--slide">

                        <a href="../static/i/goods/product_1.png" data-fancybox="gallery">
                            <img src="../static/i/goods/product_1.png" alt="">
                        </a>

                        <a class="favorite" href="#"></a>

                        <a class="compare" href="#"></a>

                    </div>

                    <div class="product__views--slide">

                        <a href="../static/i/goods/product_1.png" data-fancybox="gallery">
                            <img src="../static/i/goods/product_1.png" alt="">
                        </a>

                        <a class="favorite" href="#"></a>

                        <a class="compare" href="#"></a>

                    </div>

                    <div class="product__views--slide">

                        <a href="../static/i/goods/product_1.png" data-fancybox="gallery">
                            <img src="../static/i/goods/product_1.png" alt="">
                        </a>

                        <a class="favorite" href="#"></a>

                        <a class="compare" href="#"></a>

                    </div>

                    <div class="product__views--slide">

                        <a href="../static/i/goods/product_1.png" data-fancybox="gallery">
                            <img src="../static/i/goods/product_1.png" alt="">
                        </a>

                        <a class="favorite" href="#"></a>

                        <a class="compare" href="#"></a>

                    </div>

                    <div class="product__views--slide">

                        <a href="../static/i/goods/product_1.png" data-fancybox="gallery">
                            <img src="../static/i/goods/product_1.png" alt="">
                        </a>

                        <a class="favorite" href="#"></a>

                        <a class="compare" href="#"></a>

                    </div>

                </div>
                

                <div class="product__views--carousel">

                    <div class="product__views--carousel-item">
                        <img src="../static/i/goods/product_1.png">
                    </div>

                    <div class="product__views--carousel-item">
                        <img src="../static/i/goods/product_1.png">
                    </div>

                    <div class="product__views--carousel-item">
                        <img src="../static/i/goods/product_1.png">
                    </div>

                    <div class="product__views--carousel-item">
                        <img src="../static/i/goods/product_1.png">
                    </div>

                    <div class="product__views--carousel-item">
                        <img src="../static/i/goods/product_1.png">
                    </div>

                </div>

            </div>
            <div class="product__views--tools"></div>
            <div class="product__views--banner"></div>

        </div>

    </div>

</section>