.user-banner{
  display: block;
  position: relative;
  float: left;
  width: 100%;
  &__descr{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    border: 1px solid #e3e3e3;
    background-color: #f8f8f8;
    &--fotos{
      display: block;
      position: relative;
      float: left;
      width: calc(100% - 273px);
    }
    &--foto{
      display: block;
      position: relative;
      float: left;
      width: 205px;
      height: 176px;
      background-color: #fff;
      border: 1px solid #e4e4e4;
      margin: 12px 13px;
    }
    &--about{
      display: block;
      position: relative;
      float: left;
      width: 272px;
      border-left: 1px solid #e4e4e4;
      background-color: #fff;
      .title{
        display: block;
        position: relative;
        float: left;
        width: 100%;
        margin: 0;
        padding: 20px 20px;
        @include box-sizing(border-box);
        color: #0e0e0e;
        font-size: 18px;
        font-weight: 600;
        border-bottom: 1px solid #dddddd;
        &:after{
          display: block;
          position: absolute;
          content: '';
          left: 0;
          bottom: -1px;
          width: 70px;
          height: 2px;
          background-color: #c12025;
        }
      }
      .element{
        display: block;
        position: relative;
        float: left;
        width: calc(100% - 40px);
        margin: 0 20px;
        margin-bottom: 4px;
        padding-bottom: 6px;
        @include box-sizing(border-box);
        border-bottom: 1px dotted #6e6e6e;
        > p{
          display: block;
          position: relative;
          float: left;
          width: 50%;
          margin: 0;
          color: #6e6e6e;
          font-size: 14px;
          font-weight: 300;
          text-align: left;
        }
        > span{
          display: block;
          position: relative;
          float: left;
          width: 50%;
          margin: 0;
          color: #000000;
          font-size: 14px;
          font-weight: 300;
          text-align: right;
        }
      }
      .element:first-of-type{
        margin-top: 10px;
      }
      .element:last-of-type{
        border-bottom: none;
      }
    }
  }
}